@model IEnumerable<TrySvn.Models.CmUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            email
        </th>
        <th>
            password
        </th>
        <th>
            firstName
        </th>
        <th>
            lastName
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
			@item.email
        </td>
        <td>
			@item.password
        </td>
        <td>
			@item.firstName
        </td>
        <td>
			@item.lastName
        </td>
    </tr>
}

</table>


