@model IEnumerable<TrySvn.Models.CmProjectDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            status
        </th>
        <th>
            cmProject
        </th>
        <th>
            cmStudentSubject
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
			@item.status
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.cmProject).ToString()
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.cmStudentSubject).ToString()
        </td>
    </tr>
}

</table>


