@model TrySvn.Models.CmStudent

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.title)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.title)
    @Html.ValidationMessageFor(model => model.title)
</div>

<div class="editor-label">
    user
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.userID, ((IEnumerable<TrySvn.Models.User>)ViewBag.Possibleusers).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.LastName), 
        Value = option.ID.ToString(),
        Selected = (Model != null) && (option.ID == Model.userID)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.userID)
</div>
<div class="editor-label">
    clUniversity
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.clUniversityId, ((IEnumerable<TrySvn.Models.ClUniversity>)ViewBag.PossibleclUniversities).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.ID.ToString(),
        Selected = (Model != null) && (option.ID == Model.clUniversityId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.clUniversityId)
</div>
