@model IEnumerable<TrySvn.Models.CmStudentCourse>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            cmStudent
        </th>
        <th>
            clSubject
        </th>
        <th>
            cmTeacher
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.cmStudent).ToString()
        </td>
        <td>
			@(item.clSubject == null ? "None" : item.clSubject.Name)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.cmTeacher).ToString()
        </td>
    </tr>
}

</table>


