@model TrySvn.Models.CmCompanyRepresentative

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.companyRole)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.companyRole)
    @Html.ValidationMessageFor(model => model.companyRole)
</div>

<div class="editor-label">
    user
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.userId, ((IEnumerable<TrySvn.Models.User>)ViewBag.Possibleusers).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.LastName), 
        Value = option.ID.ToString(),
        Selected = (Model != null) && (option.ID == Model.userId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.userId)
</div>
<div class="editor-label">
    cmCompany
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.cmCompanyId, ((IEnumerable<TrySvn.Models.CmCompany>)ViewBag.PossiblecmCompanies).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.ID.ToString(),
        Selected = (Model != null) && (option.ID == Model.cmCompanyId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.cmCompanyId)
</div>
