@model IEnumerable<TrySvn.Models.FirstModel>

@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="@Url.Content("~/Content/ModelsCSS.css")" rel="stylesheet" type="text/css" />
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            BeautyIndex
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
			@item.FirstName
        </td>
        <td>
			@item.LastName
        </td>
        <td>
			@item.BeautyIndex
        </td>
    </tr>
}

</table>


