@model TrySvn.Models.Agency

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Agency</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Country</div>
    <div class="display-field">@Model.Country</div>

    <div class="display-label">PayRate</div>
    <div class="display-field">@Model.PayRate</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


